.insights{
    max-width: 500px;

    &-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-left, &-right{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    &-row{
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
        &>span:first-child{
            font-weight: 600;
            margin-right: 10px;
        }
    }
}
