<h1>Campaign Overview</h1>

<mat-card class="campaign-card">
  <ng-container *ngIf="campaign">
    <mat-card-header class="campaign-card-header">
      <mat-card-title class="campaign-card-title"><span>Budget: {{ campaign.totalBudget }} €</span> </mat-card-title>
      <app-status value="{{campaign.status}}" class="campaign-card-status"></app-status>
    </mat-card-header>
  
    <mat-card-content>
        <p class="campaign-card-goal"> <span>GOAL: </span> {{campaign.goal}}</p>
        <app-labeled-chips [list]="campaign.platforms | keysarray">
          <span>Platforms: </span>
        </app-labeled-chips>   
    </mat-card-content>
  </ng-container>    
</mat-card>