<mat-card class="platform-overview">  
  <mat-card-content class="platform-overview-container" *ngIf="platform">
        <div class="platform-overview-left">
          <div class="platform-overview-date">
            {{platform.startDate | date:short}} - {{platform.endDate | date:short}}
          </div>
          <app-status value="{{platform.status}}" class="platform-overview-cell"></app-status>
        </div>

        <div class="platform-overview-right">
            <div class="platform-overview-budget">
                <span>Total budget: </span> <span>{{platform.totalBudget}} €</span>
            </div>
            <div class="platform-overview-budget">
                <span>Remaining budget: </span> <span>{{platform.remainingBudget}} €</span>
            </div>
        </div>                 
  </mat-card-content>
</mat-card> 