.toolbar-link{
    text-decoration: underline;
}

.campaign-sidenav{
    min-height: calc(100% - 56px);

    &-side{
        display: flex;
        justify-content: center;
        width: 200px;
        padding:20px;
    }

    &-content{
        padding:20px;
        display: flex;
        justify-content: center;
    }

    &-menu{
        position: fixed;
        top: 60px;
        left: 10px;
        z-index: 10;    
    }
}

.campaign-detail-container{
    max-width: 800px;
    flex-grow: 1;
    @media screen and (max-width:600px){
        margin-top: 30px;
    }
}

.active{
    font-weight: 600;
}