<mat-toolbar color="primary">
  <span>Campaigns</span>
</mat-toolbar>

<div class="campaigns-container" *ngIf="campaigns?.length">
    <mat-card *ngFor="let item of campaigns" class="campaign-card">

        <mat-card-header class="campaign-card-header">
          <mat-card-title class="campaign-card-title">{{ item.name }} </mat-card-title>
          <app-status value="{{item.status}}" class="campaign-card-status"></app-status>
        </mat-card-header>
      
        <mat-card-content>
            <p class="campaign-card-goal"> <span>GOAL: </span> {{item.goal}}</p>
            <div class="campaign-card-platforms">
              <div>Platforms:</div>
              <mat-chip-list>
                <mat-chip disabled *ngFor="let platform of item.platforms | keyvalue">{{platform.key}}</mat-chip>
              </mat-chip-list>
            </div>
        </mat-card-content>
      
        <mat-card-actions class="campaign-card-footer">
            <span>Budget: {{ item.totalBudget }} €</span>
            <button class="campaign-card-cta" routerLink="{{item._id}}" mat-button> Go to detail > </button>  
        </mat-card-actions>
      
      </mat-card>
</div>

<div class="campaigns-empty" *ngIf="! campaigns?.length">
  <p color="warn">No available campaigns at this moment</p>
</div>