<mat-toolbar color="primary">
  <span>Campaigns</span>
</mat-toolbar>

<p>
  campaigns-list works!
</p>

<div *ngFor="let item of campaigns">
  <h3>{{item.name}}</h3>
  <p>{{item.status}}</p>
  <p>{{item.goal}}</p>
  <div>
    <div>Platforms:</div>
    <mat-chip-list>
      <mat-chip *ngFor="let platform of item.platforms | keyvalue">{{platform.key}}</mat-chip>
    </mat-chip-list>
  </div>

  <button routerLink="detail/{{item._id}}" mat-raised-button color="primary"> Go to campaign detail </button>
</div>