<mat-card>  
  <mat-card-content class="target-audience-container" *ngIf="targetAudience">

        <app-labeled-chips [list]="targetAudience.languages">
          <span>Languages: </span>
        </app-labeled-chips>

        <app-labeled-chips [list]="targetAudience.genders">
          <span>Genders: </span>
        </app-labeled-chips>        

        <div class="target-audience-range">
          <span>Age range: </span> <span>{{targetAudience.age.min}} - {{targetAudience.age.max}}</span>
        </div>

        <app-labeled-chips [list]="targetAudience.locations">
          <span>Locations: </span>
        </app-labeled-chips>
        
        <app-labeled-chips [list]="targetAudience.interests">
          <span>Interests: </span>
        </app-labeled-chips>

        <app-labeled-chips [list]="targetAudience.keywords">
          <span>Keywords: </span>
        </app-labeled-chips>           

  </mat-card-content>
</mat-card> 