:host{
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    
    ::ng-deep span:first-child{
        font-weight: 600;
        margin-right: 10px;
        line-height: 32px;
    }
}